doctype html
html(lang='ru')
	head
		title greatest page

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/header.jade
		
		section.statistics
			.container.content
				h3 Statistics and Loggs

				.statistics-holder
					.st-item
						h5 SMS Count and Traffic Spent
						.st-head
							.select-holder
								select#sel2(name="")
									option(value="1") All Devices
									option(value="2") All Devices
									option(value="3") All Devices
									option(value="4") All Devices
									option(value="5") All Devices
									option(value="6") All Devices
							.piker-holder
								.date-piker.first
									input.ui-piker
								.date-piker
									input.ui-piker
						.data-holder.stat
							table.close
								tbody
									tr
										td
										td To Device
										td From Device
										td Total
									tr.spend
										td
											span SMS Count
										td 34
										td 37
										td 71
									mixin newTablItem(count, to, from1, total)
										tr
											td= count
											td= to
											td= from1
											td= total
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									tr
										td
											a(href="#").t-btn more...
							table.close
								tbody
									tr.spend
										td
											span Traffic Spent
										td 34
										td 37
										td 71
									mixin newTablItem(count, to, from1, total)
										tr
											td= count
											td= to
											td= from1
											td= total
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									+newTablItem(
										'2016-21-12',
										'7',
										'8',
										'15'
									)
									tr
										td
											a(href="#").t-btn more...



					.st-item
						h5  Log
						.st-head
							.select-holder
								select#sel2(name="")
									option(value="1") All Devices
									option(value="2") All Devices
									option(value="3") All Devices
									option(value="4") All Devices
									option(value="5") All Devices
									option(value="6") All Devices
							.piker-holder
								.select-holder
									select#sel3(name="")
										option(value="1") Alerts Only
										option(value="2") Alerts Only
										option(value="3") Alerts Only
										option(value="4") Alerts Only
										option(value="5") Alerts Only
										option(value="6") Alerts Only
								.date-piker.first
									input.ui-piker
								.date-piker
									input.ui-piker
						.data-holder.log
							table
								tbody
									mixin newTablItem(count, to, from1, total, ttl)
										tr
											td= count
											td= to
											td= from1
											td= total
											td= ttl
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)
									+newTablItem(
										'2016-21-12 09:30:27',
										'OUT',
										'Alert',
										'Device left its fence area.',
										'Yacht: Princess Viking'
									)



					.st-item
						h5  Position
						.chek-holder
							.checkbox
								input(type='checkbox' id="pos")
								label(for="pos") Show Last Position Only
						.map-holder
							#map
								
					.btn-holder
						a(href="#") Close

								


		include ./partials/footer.jade

		include ./partials/gmaps.jade
		include ./partials/scripts.jade
		include ./partials/maps-all-dev.jade
